{
  "class": "AS3",
  "action": "deploy",
  "persist": true,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.0.0",
    "id": "randomapps",
    "label": "100 Random Apps Deployment",
    "{{ as3_tenant_name }}": {
      "class": "Tenant",
      {% for i in range(1) %}
      "AS3-UseCase-{{ i }}": {
        "class": "Application",
        "{{F5_VIP_Name}}": {
          "class": "Service_HTTPS",
          "virtualAddresses": [
            "{{ app_ips[i] }}"
          ],
          "profileMultiplex": {
             "bigip": "/Common/oneconnect"
          },
          "pool": "web_pool{{ i }}",
          "serverTLS": {
              "bigip": "/Common/clientssl"
          },
          "persistenceMethods": []
        },
        "web_pool{{ i }}": {
          "class": "Pool",
          "monitors": ["http"],
          "members": [
            {
              "servicePort": 80,
              "serverAddresses": ["192.168.199.{{ i+1 }}"]
            }
          ]
        }
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    }
  } 
}