{
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.36.0",
        "id": "multi-tenant-apps",
        "label": "5 Tenants with 25 Apps Each",
        {% for tenant in range(1, 6) %}
        "Tenant{{ tenant }}": {
        "class": "Tenant",
        {% for app in range(1, 26) %}
        "App-{{ '%03d' | format(app) }}": {
            "class": "Application",
            "{{F5_VIP_Name}}-{{ '%03d' | format(app) }}": {
                "class": "Service_HTTP",
                "virtualAddresses": ["10.0.{{ tenant }}.{{ app }}"],
                "virtualPort": 80,
                "pool": "web_pool-{{ '%03d' | format(app) }}"
            },
            "web_pool-{{ '%03d' | format(app) }}": {
                "class": "Pool",
                "monitors": ["http"],
                "members": [
                {
                    "servicePort": 80,
                    "serverAddresses": ["192.168.{{ tenant }}.{{ app }}"]
                }
                ]
            }
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        }
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    }
